@model PhoneConfirmModel

@{ 
    Layout = null;
    ViewBag.Title = "ConfirmPhone"; 
    
}

@using (Html.BeginForm("ConfirmPhone", "Login", FormMethod.Post))

{

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                                
                {
                <div class="alert alert-danger" id="ajaxAlert">
                    @ViewBag.ErrorMessage
                </div>
                
                }



<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/Login_Reg_Phone.css">
    <link rel="stylesheet" type="text/css" href="~/css/commentError.css">

    <script type="text/javascript" src="~/js/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/transition.js"></script>
    <script type="text/javascript" src="~/js/login.js"></script>

</head>

<body>
    <div class="materialContainer">


        @if (!String.IsNullOrEmpty(@Model?.ErrorMessage))
        {
    <div id="reviews">
        <div class="comment">
            <div class="comment_bubble">
                <p class="comment_text">@Model.ErrorMessage</p>
            </div>
        </div>
    </div>}


        <div class="box">

            <div class="title">Регистрация</div>


            <div class="input">

                @Html.LabelFor(a => a.Login)
                @Html.TextBoxFor(a => a.Login)
                @Html.ValidationMessageFor(a => a.Login)

                <span class="spin"></span>
            </div>

            <div class="input">

                @Html.LabelFor(a => a.Code)
                @Html.PasswordFor(a => a.Code)
                @Html.ValidationMessageFor(a => a.Code)

                <span class="spin"></span>
            </div>

            <div class="button login">



                <button><span>Зарегистрироваться</span> <i class="fa fa-check"></i></button>

            </div>

        </div>
    </div>

</body>

</html>

}