@model IEnumerable<Market.Context.DbUser>

@{
    Layout = "_Layout";
}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Сatalogues.css">
</head>

<body>

<h2>Список пользователей</h2>
@if (@Model.Count() > 0)
{
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Логин пользователя</th>
                <th>Имя пользователя</th>
                <th>Роль в системе</th>
                <th>Назначение роли</th>
            </tr>
            </thead>
            <tbody>
            
                @foreach (var item in Model)
                {
                    @using (Html.BeginForm("SetRole", "Login", FormMethod.Post))
                    {
                        <tr>
                            <td class="tableName">@item.Login</td>
                            <td class="tableImage">@item.FirstName @item.SecondName</td>
                            <td>@item.Role</td>
                            <td class="changeCategoryButton">
                                <p><a href="SetRole?userId=@item.Id&role=1">Назначить роль пользоавтеля</a></p>
                                <p><a href="SetRole?userId=@item.Id&role=2">Назначить роль менеджера</a></p>
                                <p><a href="SetRole?userId=@item.Id&role=3">Назначить роль администратора</a></p>
                            </td>
                        </tr>
                    }
                }
            
            <tbody>
        </table>
    </div>
}
else
{
    <h5>В системе нет пользователей кроме вас</h5>
}

</body>

</html>