@model IEnumerable<Market.Context.DbBooking>

@{
    Layout = "_Layout";
}
<html>

<head>

    <link rel="stylesheet" type="text/css" href="~/css/Booking.css">

</head>

<body>

    @if (@Context.User.Claims.First(c => c.Type == "UserRole").Value == "Customer")
    {
        <h2>Список забронированных мной товаров</h2>
    }
    @if (@Context.User.Claims.First(c => c.Type == "UserRole").Value == "Manager")
    {
        <h2>Список забронированных моих товаров</h2>
    }
    @if (@Model.Count() > 0)
    {
        if (@Context.User.Claims.First(c => c.Type == "UserRole").Value == "Customer")
        {
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Количество забронированных</th>
                            <th>Действия с бронью</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Count</td>
                                <td>
                                    <a href="/Product/Unreserve?productId=@item.ProductId">Отменить резервирование</a>
                                </td>
                            </tr>
                        }

                    <tbody>
                </table>
            </div>
        }
        else
            if (@Context.User.Claims.First(c => c.Type == "UserRole").Value == "Manager")
        {
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Количество забронированных</th>
                            <th>Данные пользователя</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Count</td>
                                <td>
                                    @item.BookerUser.FirstName @item.BookerUser.SecondName
                                    Номер телефона пользователя: @item.BookerUser.Login
                                </td>
                            </tr>
                        }

                    <tbody>
                </table>
            </div>
        }
    }
    else

    {
        <h5>У вас еще нет зарезервированных товаров</h5>
    }

    </body>
</html>
