@model ProductRegistryModel

@{
    Layout = "_Layout";
}

<html>

<head>

    <link rel="stylesheet" href="~/css/Products.css" />
    <link rel="stylesheet" href="~/css/small_things.css" />

</head>

<body>

    <h2>Список товаров</h2>
    @if (@Model.Products.Count() > 0)
    {
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Фото товара</th>
                        <th>Наименование</th>
                        <th>Стоимость</th>
                        <th>Количество в наличии</th>
                        @if (@Context.User.Claims.FirstOrDefault() != null &&
                          @Context.User.Claims.First(c => c.Type == "UserRole").Value != "Admin")
                        {
                            <th>Действия с товаром</th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td><img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" /></td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Count</td>
                            <td>
                                @if (@Context.User.Claims.FirstOrDefault() != null && @Context.User.Claims.First(c => c.Type == "UserRole").Value == "Customer")
                                {
                                    <a href="/Product/Reserve?productId=@item.Id&categoryId=@Model.CategoryId">Зарезервировать</a>}
                                @if (@Context.User.Claims.FirstOrDefault() != null && @Context.User.Claims.First(c => c.Type == "UserRole").Value == "Manager")
                                {
                                    <a href="/Product/Delete?productId=@item.Id&categoryId=@Model.CategoryId">Удалить</a>
                                    <a href="/Product/Save?productId=@item.Id&categoryId=@item.CategoryId">Изменить</a>}
                            </td>
                        </tr>
                    }

                <tbody>
            </table>
        </div> }
    else
    {
        <h5>В эту категорию еще не было добавлено ни одного товара</h5>}

    @if (@Context.User.Claims.FirstOrDefault() != null && @Context.User.Claims.First(c => c.Type == "UserRole").Value == "Manager")
    {
        <a href="/Product/Save?categoryId=@Model.CategoryId" class="floating-button_small">Добавить новый продукт</a>}
    @if (@Context.User.Claims.FirstOrDefault() != null && @Context.User.Claims.First(c => c.Type == "UserRole").Value == "Admin")
    {
        <a href="/Category/Delete/@Model.CategoryId" class="floating-button_small">Удалить категорию</a>}


</body>

</html>