@model ProductSaveModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Registry";  
}  

<html>

<head>

    <link rel="stylesheet" type="text/css" href="~/css/Booking.css">
    <link rel="stylesheet" type="text/css" href="~/css/small_things.css">

</head>

<body>

    <div class="form-style-5">
        @if (@Model.Id == Guid.Empty)
        {
<h1> Добавление товара</h1> }
            else
            {
<h1> Изменение товара</h1>}
        <form asp-action="Save" asp-controller="Product" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.CategoryId)
            <fields>
                @if (@Model.Id != Guid.Empty)
                {
    <input type="text" name="Name" placeholder="Название товара" value="@Model.Name">
                    <input type="text" name="Price" placeholder="Стоимость товара" value="@Model.Price">
                                    <input type="text" name="Count" placeholder="Количество" value="@Model.Count">
                                                    <label>Файл для иконки товара<input type="file" name="field2" placeholder="Иконка товара"></label> }
                                                                else
                                                                {
                                                    <input type="text" name="Name" placeholder="Название товара">
                                                                    <input type="text" name="Price" placeholder="Стоимость товара">
                                                                                    <input type="text" name="Count" placeholder="Количество">
                                                                                                    <label>Файл для иконки товара<input type="file" name="field2" placeholder="Иконка товара"></label>}
            </fields>
            <input type="submit" value="Сохранить" />
        </form>
    </div>


</body>

</html>